terraform-provider-aws_v6.64.0_x5.exe
 ec2-launch/.terraform/providers/registry.terraform.io/hashicorp/aws/6.64.0/windows_amd64/LICENSE.txt

LICENCE.txt
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

ec2-launch/terra-key-ec2
ec2-launch/terra-key-ec2.pub